.collapse{
  position: relative;

  &-container{
    position: relative;
    overflow: hidden;
    transition: max-height .7s;
  }

  &-button{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    overflow: hidden;
    z-index: 1;
  }

  &-icon{
    transform: rotate(0deg);
    transition: transform .3s;
  }
}


.collapse.open{

  .collapse-container{
    overflow: auto;
  }

  .collapse-icon{
    transform: rotate(-180deg);
  }
}

