.button{
    padding: 13px 16px;
    /*height: 40px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1;
    border-radius: var(--br-main);
    background-color: var(--bg-v3);
    border: none;
    transition: background var(--tr-time) linear;
    cursor: pointer;
}

.button:disabled{
    color: var(--text-disable);
    background-color: var(--bg-disable);
    pointer-events: none;
    cursor: auto;
}


.button-active{
    background-color: var(--bg-v2);
}
.button-regular{
    background-color: var(--bg-v1);
}
.button-cancel{
    background-color: var(--bg-main);
    border: 1px solid var(--border-color);
}

.button-bgTransparent{
    background-color: inherit;
    border: none;
}