.settings{
  &-container{
    padding-top: var(--pd-main);
  }

  &-grid{
    display: grid;
    height: 100%;
    grid-template-areas: 'menu content';
    grid-template-columns: auto 1fr;
    gap: var(--offset-main);
  }

  &-menu{
    grid-area: menu;
  }

  &-content{
    grid-area: content;
  }
}