.reservation {
  --order-filter-width: 190px;
  --order-gap: 4px;
  --order-radius:12px;
  --order-header-bg: var(--bg-v1);
  --order-border-color: var(--bg-v1);

  &-container {
    margin-top: var(--offset-main);
    display: grid;
    grid-template-areas:
      "filter sort"
      "filter orders";
    grid-template-columns: var(--order-filter-width) 1fr;
    grid-gap: var(--order-gap);
    white-space: nowrap;
  }

  &-filters-container{
    padding: 8px;
    grid-area: filter;
  }

  &-filters{
    transition: max-height .3s;
    overflow: hidden;
  }

  &-filter{
    margin-top: 4px;
    padding: 12px 8px;
    font-size: 0.875rem;
    font-weight: 600;
    border: 1px solid var(--border-color);
    border-radius: var(--br-main);
  }

  &-filter-button{
    padding: 12px 8px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 4px;
    border: 1px solid var(--border-color);
  }

  &-filter-icon{
    transform: rotate(0deg);
    transition: transform .3s;
  }

  .reservation-filter-button.open .reservation-filter-icon{
    transform: rotate(-180deg);
  }


  &-filter-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    font-weight: 600;
  }



  &-sort{
    grid-area: sort;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.875rem;
  }

  &-filter-title{
  }

  &-filter-content{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
  }

  &-filter-label{
    display: flex;
    align-items: center;
  }

  &-select{
    .select-header{
      background-color: #e5e5e5;
    }
  }

  &-list{
    grid-area: orders;
    overflow-x: scroll;

  }


}

.orders{
  margin-top: var(--offset-main);
  position: relative;
  font-size: 0.875rem;
  font-weight: 600;
  width: 1610px;

  &-header{
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 0.8fr 0.7fr 2fr 2fr repeat(2,1fr) repeat(2,0.5fr) repeat(2,1fr);

    color: var(--text-v1);
    border-radius: var(--order-radius);
    background-color: var(--order-header-bg);
  }

  &-header-item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--offset-main);
    font-size: 0.875rem;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-header-customer,
  &-header-range{

  }
}

.order{
  margin-top: var(--order-gap);
  display: grid;
  grid-template-columns: 1fr 0.8fr 0.7fr 2fr 2fr repeat(2,1fr) repeat(2,0.5fr) repeat(2,1fr);
  border: 1px solid var(--order-border-color);
  border-radius: var(--order-radius);
  cursor: pointer;

  &-prop{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--offset-main);
    font-size: 0.875rem;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-extra-info{
    color: var(--text-v1);
    font-size: 0.75rem;
  }

  &-prop-customer,
  &-prop-range{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}