
.board-container{
}

.board {
  --b-boarder-color: #E6E6E6;
  --b-category-sz: 190px;
  --b-cell-wz: 56px;
  --b-cell-hz: 46px;
  --b-subcategory-sz: 46px;
  --bgap: 4px;
  --b-rad: 8px;

  position: relative;
  display: grid;
  grid-template-areas:
        "filter property"
        "filter date";

  grid-auto-columns: var(--b-category-sz) 1fr;
  //grid-auto-rows: var(--b-subcategory-sz);
  grid-gap: var(--bgap);
  overflow-x: hidden;

  .filter{
    position: sticky;
    left: 0;
    grid-area: filter;
    display: flex;
    flex-wrap: wrap;
    gap: var(--bgap);
    padding: 8px;
    background-color: var(--bg-v1);
    border-radius: var(--b-rad);
    z-index: 5;

    .button{
      padding: 8px;
      width: 50%;
      flex: 1 1;
      text-overflow: ellipsis;
      text-wrap: nowrap;
    }
  }

  .property{
    padding: auto var(--offset-main);
    height: 56px;
    grid-area: property;
    display: flex;
    align-items: center;

    span{
      grid-column: 1 / -1;
      font-size: 1.125rem;
      font-weight: 600;
      position: sticky;
      left: 210px;
    }
  }

  .date{
    height: 56px;
    position: relative;
    grid-area: date;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var(--b-cell-wz);
    grid-column-gap: var(--bgap);


    span{
      font-size: 1.125rem;
      font-weight: 600;
      position: sticky;
      left: 210px;

    }
  }


  .category,
  .category-row{
    height: 56px;
    position: sticky;
    left: 0;
    z-index: 5;

  }

  .room-category,
  .room-category-row{
    height: 46px;
    position: sticky;
    left: 0;
    z-index: 5;

  }


  .cells,
  .orders{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var(--b-cell-wz);
    height: 100%;
    grid-column-gap: var(--bgap);
  }

  .orders{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .cell,
  .order{
    border: 1px solid var(--b-boarder-color);
    border-radius: var(--b-rad);
  }

  .order.service{
    background-color: var(--bg-v1);
  }

  .cell{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .category,
  .room-category{
    background-color: var(--bg-main);
    font-weight: 600;
    z-index: 12;
  }

  .category-row,
  .room-category-row{
    overflow: hidden;
  }


  .border{
    border: 1px solid var(--b-boarder-color);
    border-radius: var(--b-rad);
  }

}
