.round-button{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    background-color: var(--bg-main);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}