.select-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    border-radius: var(--br-main);
    background-color: var(--bg-v2);
    transition: background var(--tr-time) linear;
    cursor: pointer;
}

.select-title .select-icon{
    transition: transform var(--tr-time) linear;
    transform: rotate(0deg);
    margin-left: 10px;
}

.select.open .select-title .select-icon{
    transform: rotate(-180deg);
}

.select.open .select-title{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}