.nav-buttons{
    position: fixed;
    right: 24px;
    bottom: 24px;
    display: flex;
    gap: 12px;
    z-index: var(--z-popup);
}

.nav-buttons .left,
.nav-buttons .right{
    background-color: var(--bg-v6);
}

.nav-buttons .left{
    transform: rotate(90deg);
    left: -4px;
}

.nav-buttons .right{
    transform: rotate(-90deg);
}


.nav-buttons .left .icon,
.nav-buttons .right .icon{
    position: relative;
    top: 2px;
}



.nav-buttons .round-button:disabled{
    color: var(--text-disable);
}