.reserveModal {

  &-container {
    max-width: var(--modal-width);
  }

  &-mainTitle{
    font-size: 1.25rem;
    font-weight: 600;
  }

  &-content{
    margin-top: var(--offset-main);
  }

  &-buttons {
    display: flex;
    gap: 8px;
  }

  &-block {
    margin-top: var(--offset-main);
  }

  &-block-booking {
    padding: 24px;
    background-color: var(--bg-v7);
    border-radius: var(--br-v2);
  }

  &-tilte {
    font-weight: 600;
  }

  &-row {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &-options {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &-select {
    width: 210px;
  }

  &-select-property{
    width: 100%;
  }


  &-count {
    width: 92px;
  }

  &-input {
    width: 148px;
  }

  &-option-currency {
    position: relative;
  }

  &-option-currency:after {
    content: attr(data-currency);
    position: absolute;
    left: calc(100% + 8px);
    top: 50%;
    transform: translateY(-50%);
  }

  &-message {
    min-height: 1.2rem;
    color: var(--text-v1);
    font-size: 0.75rem;
    font-weight: 600;
  }

  &-footerButtons {
    margin-top: var(--offset-main);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-footerButton{
    width: 208px;
  }
}