.select {
  position: relative;

  //overflow: hidden;

  &-header {
    min-width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px 12px 8px;
    height: 40px;
    font-weight: 600;
    line-height: 1;
    border-radius: var(--br-main);
    border: 1px solid var(--border-color);
    background-color: var(--bg-main);
  }

  &-icon {
    margin-left: auto;
    flex: none;
    transform: rotate(0deg);
    transition: transform .3s;
  }

  &-items {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    width: 100%;
    max-height: 0;
    opacity: 0;
    border: 1px solid var(--border-color);
    background-color: var(--bg-main);
    border-radius: var(--br-main);
    transition: opacity .3s, max-height .3s;
    pointer-events: none;
    overflow: auto;
    z-index: var(--z-popup);
  }

  &-item {
    padding: 12px 8px 12px 8px;
    //height: 40px;
    background-color: var(--bg-main);
    border-radius: var(--br-main);
    transition: background .3s;
  }

  &-item:hover{
    background-color: var(--bg-v5);
  }

  &-item.selected{
    background-color: var(--bg-v5);
  }

  &-node {
    display: none;
  }
}

.select.open{
  .select-items{
    opacity: 1;
    pointer-events: all;
  }

  .select-icon{
    transform: rotate(180deg);
  }
}