.select {
  position: relative;

  //overflow: hidden;

  &-header {
    min-width: 170px;
    display: flex;
    justify-content: stretch;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    border-radius: var(--br-main);
    border: 1px solid var(--border-color);
    background-color: var(--bg-main);
    cursor: pointer;
  }

  &-header-input{
    flex: 1 1;
    border: none;
    outline: none;
    padding-right: 40px;
    background-color: inherit;
  }

  &-icon {
    position: absolute;
    right: 12px;
    top: 12px;
    margin-left: auto;
    flex: none;
    transform:  rotate(0deg);
    transition: transform .3s;
  }

  &-items {
    position: absolute;
    //top: calc(100% + 4px);
    //left: 0;
    //right: 0;
    //width: 100%;
    //max-height: 0;
    opacity: 0;
    border: 1px solid var(--border-color);
    background-color: var(--bg-main);
    border-radius: var(--br-main);
    transition: opacity .3s, max-height .3s;
    pointer-events: all;
    overflow: auto;
    z-index: var(--z-popup);
  }

  &-items.open{
    opacity: 1;
  }

  &-item {
    padding: 12px 8px 12px 8px;
    background-color: var(--bg-main);
    border-radius: var(--br-main);
    transition: background .3s;
    cursor: pointer;
  }

  &-item:hover{
    background-color: var(--bg-v5);
  }

  &-item.selected{
    background-color: var(--bg-v5);
    cursor: auto;
    pointer-events: none;
  }

  &-node {
    display: none;
  }
}

.select.open{
  .select-items{
    //opacity: 1;
    pointer-events: all;
  }

  .select-icon{
    transform: rotate(180deg);
  }
}