.guestForm{


  &-container{
    position: relative;
    padding: var(--offset-3);
    background-color: var(--bg-v7);
    border-radius: var(--br-v2);
  }

  &-content{

  }

  &-removeGuest{
    padding: 0;
    margin: 0;
    position: absolute;
    top: var(--offset-3);
    right: var(--offset-3);
    color: var(--text-v1);
    line-height: 1;
    border: none;
    overflow: hidden;
    cursor: pointer;
  }

  &-close-icon{
    transform: rotate(45deg);
  }

  &-block{
    margin-top: var(--offset-main);
  }

  &-block-cf{
    margin-top: 0;
  }

  &-options{
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    gap: 8px;
  }

  &-option{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-option-phone,
  &-option-email,
  &-option-document,
  &-option-issued,
  &-option-seria,
  &-option-number,
  &-option-file{
    flex: 1 1;
  }

  &-title{
    font-size: 1rem;
    font-weight: 600;
  }

  &-input{
    width: 100%;
  }

  &-message{
    margin-top: 4px;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1;
    color: var(--text-v1);
  }

  &-option-stretch{
    width: 100%;
    flex: 1 1 ;
  }

  &-select{
    width: 100%;
  }

  &-collapse {
    margin-top: var(--offset-main);
  }
}