.wrapper{
    display: grid;
    position: relative;
    overflow: hidden;
}

.wrapper-column{
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.wrapper-row{
    grid-template-columns: auto auto auto;
    grid-template-areas: "header content footer";
    width: 100%;
}

.wrapper-header{
    grid-area: header;
}

.wrapper-content{
    grid-area: content;
    overflow: scroll;
}

.wrapper-footer{
    grid-area: footer;
}