.modal{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  &-backplate{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.3);
    opacity: 0;
    transition: opacity var(--tr-time);
    z-index: calc(var(--z-modal) - 1);
  }

  &-content{
    height: 90%;
    max-height: 90%;
    max-width: var(--modal-width);
    width: 100%;
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-main);
    border-radius: var(--br-v2);
    opacity: 0;
    transition: opacity var(--tr-time);
    z-index: var(--z-modal);
    overflow: scroll;
  }

  &.open{
    .modal-backplate,
    .modal-content{
      opacity: 1;
    }
  }

  &.close{
    .modal-backplate,
    .modal-content{
      opacity: 0;
    }
  }
}


