.header{
    padding: var(--pd-main) 0;
    background-color: var(--bg-v1);
}

.header-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--pd-main);
}

.header .search .input{
    border-color: var(--bg-main);
}