.header{
    padding: var(--pd-main) 0;
    background-color: var(--bg-v1);
}

.header .left{
    display: flex;
    align-items: center;
    flex: 1 1;
    flex-wrap: wrap;
}

.header .right{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--pd-main);
}

.header .search .input{
    flex: 1 1;
    border-color: var(--bg-main);
}

.header .round-button {
    margin-left: 8px;
}

.header .round-button:last-child{
    margin-left: 12px;
}

.header .reservation{
    display: flex;
    align-items: center;
    background-color: var(--bg-main);
}

.header .reservation .icon{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 16px;
    width: 28px;
    height: 28px;
    aspect-ratio: 1 / 1;
    background-color: var(--bg-v1);
    border-radius: 50%;
}

.header .search{
    width: 380px;
}

