.board{
    position: relative;
}

.board-container{
    position: absolute;
    --bgap: 4px;
    margin-right: 0;
    display: grid;
    grid-template-columns: 190px 1fr;
    grid-gap: var(--bgap);
    overflow-x: scroll;
}

.board .filter{
    position: sticky;
    left: 0;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--bgap);

    grid-row: 1 / 3;
    background-color: var(--bg-v4);
    border-radius: var(--br-main);
}

.board .filter .button{
    font-size: 0.75rem;
}

.filter .buttons-group .button{
    flex:1;
    background-color: transparent;
}


.filter .info{
    gap: var(--bgap);
}

.filter .filter-month,
.filter .filter-day,
.filter .button.selected{
    background-color: var(--bg-main);
}

.board .filter .filter-month,
.board .filter .filter-day{
    position: relative;
    flex: 1 1 auto;
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.board .filter .filter-month span,
.board .filter .filter-day span{
    position: sticky;
    left: 0;
}

.board .property{
    padding: 12px 20px;
    grid-column: 2 / 3;
    font-size: 1.25rem;
    font-weight: 600;
    border: 1px solid var(--bg-v2);
    border-radius: var(--br-main);
    background-color: var(--bg-main);
}

.board .month,
.board .day{
    display: flex;
    align-items: center;
    padding: 12px 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 1.25rem;
    font-weight: 600;
    border: 1px solid var(--bg-v2);
    border-radius: var(--br-main);
    background-color: var(--bg-main);
}


.board .room,
.board .room-category{
    position: sticky;
    left: 0;
    padding: 8px 32px;
    border: 1px solid var(--bg-v2);
    border-radius: var(--br-main);
    background-color: var(--bg-main);
}

.board .room-category{
    font-weight: 600;
}

.board .cell,
.board .cell-date,
.board .cell-time{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 56px;
    height: 56px;

    border: 1px solid var(--bg-v2);
    border-radius: var(--br-main);
    background-color: var(--bg-main);
}

.board .cell-date,
.board .cell-time{
    font-weight: 600;
}

.board .cell:not(:first-child),
.board .cell-date:not(:first-child),
.board .cell-time:not(:first-child){
    margin-left: var(--bgap);
}

.board .without-number{
    background-color: var(--bg-v4);
}

.board .weekend{
    background-color: var(--bg-v5);
}

.board .service{
    background-color: var(--bg-sw);
}
