@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('variables.css');
@import url('colors.css');


html, body{
    height: calc(100 * var(--vh));
    overflow: hidden;
}

#root{
    height: 100%;
}

.w-full{
    width: 100%;
}

.h-full{
    height: 100%;
}

.icon{
    width: var(--icon-size);
    height: var(--icon-size);
}