@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('variables.css');
@import url('colors.css');


html, body{
    height: calc(100 * var(--vh));
    overflow: hidden;
    color: var(--text-main);
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--bg-scroll);
    border-radius: 13px;
}

a{
    text-decoration: none;
}

#root{
    height: 100%;
}

.w-full{
    width: 100%;
}

.h-full{
    height: 100%;
}

.icon-15{
    width: var(--icon-sz-15);
    height: var(--icon-sz-15);
}

.icon-16{
    width: var(--icon-sz-16);
    height: var(--icon-sz-16);
}

.icon-20{
    width: var(--icon-sz-20);
    height: var(--icon-sz-20);
}

.icon-24{
    width: var(--icon-sz-24);
    height: var(--icon-sz-24);
}

.flex-0{
    flex: none;
}

.flex-1{
    flex: 1;
}

.gap-1{
    gap: var(--pd-main);
}