:root{
    --vh: 1vh;

    /* main border radius */
    --br-main: 8px;
    --br-v2: 12px;

    --pd-main: 20px;
    --offset-main: 20px;
    --offset-2: 28px;
    --offset-3: 32px;

    --icon-sz-15: 15px;
    --icon-sz-16: 16px;
    --icon-sz-20: 20px;
    --icon-sz-24: 24px;

    --tr-time: 0.3s;
    --z-popup: 100;
    --z-modal: 110;
}