@mixin border {
  border: 1px solid var(--chess-border-color);
  border-radius: var(--chess-border-radius);
}

.chess {
  --chess-height-1: 56px;
  --chess-height-2: 46px;
  --chess-cell-width: 56px;
  --chess-category-width: 190px;
  --chess-border-radius: 8px;
  --chess-gap: 4px;
  --chess-border-color: var(--border-color);
  --chess-filter-color-bg: var(--bg-v4);
  --chess-cell-service-color-bg: var(--bg-sw);
  --chess-filter-btn-bg: var(--bg-v1);
  --chess-wickend-color-bg: var(--bg-v5);
  --chess-color-bg: var(--bg-main);
  --chess-color-booking-bg: var(--bg-v1);
  --chess-color-text: var(--text-main);


  &-container {
    padding-top: calc(var(--chess-height-1) * 3 + var(--chess-gap) * 2);
    position: relative;
    height: 100%;
    overflow: hidden;
    color: var(--chess-color-text);
  }

  &-loader{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--chess-color-bg);
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
  }

  &-content {
    position: relative;
    height: 100%;
  }

  &-header {
    padding-bottom: var(--chess-gap);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--chess-color-bg);
    z-index: 10;

  }

  &-filter {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--chess-category-width);
    padding: 8px;
    background-color: var(--chess-filter-color-bg);
    border-radius: var(--chess-border-radius);
  }

  &-btn {
    flex: 1 1;
    padding: 13px 4px;
    font-size: 0.75rem;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
    border-radius: var(--chess-border-radius);
    background-color: transparent;
    transition: 0.3s linear;
    overflow: hidden;
    outline: none;
  }



  &-btn.active {
    background-color: var(--chess-color-bg);
  }

  &-r1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: stretch;
  }

  &-r2 {
    margin-top: var(--chess-gap);
    display: flex;
    flex-wrap: nowrap;
    justify-content: stretch;
    gap: var(--chess-gap);
  }

  .chess-btn.chess-day {
    flex: 1 1;
  }

  &-month{
    flex: 1.5 1;
  }

  &-main-info {
    padding-left: calc(var(--chess-category-width) + var(--chess-gap));
  }

  &-property {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: var(--chess-height-1);
    font-size: 1.25rem;
    font-weight: 600;
    @include border;

    span {
      position: sticky;
      left: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &-days {
    margin-top: var(--chess-gap);
    display: grid;
    grid-auto-columns: var(--chess-cell-width);
    grid-column-gap: var(--chess-gap);
    grid-auto-flow: column;
    font-size: 1.125rem;
    font-weight: 600;

  }

  &-days-item {
    @include border;
    position: relative;
    height: var(--chess-height-1);
    //padding: 0 20px;
    display: flex;
    align-items: center;
    overflow: hidden;

    span {
      position: sticky;
      left: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &-legend {
    position: relative;
    margin-top: var(--chess-gap);
    background-color: var(--chess-color-bg);
  }

  &-category-name {
    @include border;
    display: flex;
    align-items: center;
    gap: 8px;

    position: absolute;
    left: 0;
    top: 0;
    padding: 8px 32px;
    height: var(--chess-height-1);
    width: var(--chess-category-width);
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
  }

  .chess-category-name-legend {
    font-size: 1rem;
  }


  &-bookings,
  &-cells {
    padding-left: calc(var(--chess-category-width) + var(--chess-gap));
    display: grid;
    grid-auto-columns: var(--chess-cell-width);
    grid-column-gap: var(--chess-gap);
    grid-auto-flow: column;
    font-size: 1.125rem;
    font-weight: 600;
  }

  &-bookings {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-auto-columns: var(--chess-cell-width);
    grid-column-gap: var(--chess-gap);
    grid-auto-flow: column;
    pointer-events: none;
    z-index: 5;
  }

  &-booking {
    grid-row: 1 / -1;
    position: relative;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background-color: var(--chess-color-booking-bg);
    border-radius: var(--chess-border-radius);
    border: 1px solid var(--chess-border-color);
    pointer-events: all;
  }

  &-cell {
    @include border;
    height: var(--chess-height-2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
  }

  &-weekday {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    align-items: center;
  }

  &-cell.weekend {
    background-color: var(--chess-wickend-color-bg);
  }

  &-cell.service {
    background-color: var(--chess-cell-service-color-bg);
  }

  &-cell-legend, &-cell-category {
    height: var(--chess-height-1);
    font-weight: 600;
  }

  &-category {
    position: relative;
    margin-top: var(--chess-gap);
  }

  .chess-subcategories {
    max-height: 0;
    transition: max-height 0.3s linear;
    overflow: hidden;
  }


  &-subcategory {
    position: relative;
    margin-top: var(--chess-gap);
  }

  &-subcategory-name {
    @include border;
    padding: 8px 32px;
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    left: 0;
    top: 0;
    height: var(--chess-height-2);
    width: var(--chess-category-width);
    font-weight: 600;
  }

  &-icon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    transition: transform .3s linear;
  }

  .chess-category.open .chess-icon,
  .chess-legend.open .chess-icon {
    transform: translateY(-50%) rotate(180deg);
  }


  &-booking {
    position: relative;
  }

  .booking {
    height: 100%;
    line-height: 1;
    font-weight: 600;


    &-content {
      padding: 4px;
      height: 100%;
      max-width: calc(var(--chess-cell-width) * 4);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      overflow: hidden;
    }

    &-stat {
      flex: 1 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      font-size: 0.75rem;
      font-weight: 600;
      overflow: hidden;

    }

    &-persons {
      flex: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &-icon {
      margin-right: 2px;
    }

    &-price {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      gap: 2px;

      .booking-dot {
        width: var(--chess-gap);
        height: var(--chess-gap);
        border-radius: 50%;
        background-color: var(--chess-color-text);
      }
    }

    &-person {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 0.75rem;
    }
  }

}