.search{
    --p-search-icon: 16px;

    position: relative;
}

.search .input{
    width: 100%;
    padding-right: calc(var(--icon-sz-20) + var(--p-search-icon) * 2);
}

.search .icon-24{
    position: absolute;
    top: 50%;
    right: var(--p-search-icon);
    width: var(--icon-sz-24);
    height: var(--icon-sz-24);
    color: var(--bg-v2);
    transform: translateY(-50%);
}