.company-list{
  .container{
    padding-top: var(--pd-main);
  }

  &-grid{
    display: grid;
    height: 100%;
    grid-template-areas: 'menu content';
    grid-template-columns: auto 1fr;
    gap: var(--offset-main);
  }

  &-menu{
    grid-area: menu;
  }

  &-content{
    grid-area: content;
  }

  &-title {
    font-size: 1.25rem;
    font-weight: 600;
  }

  &-button {
    display: flex;
    align-items: center;
    gap: var(--offset-main);
    background-color: var(--button-color);
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-main);
    border-radius: 50%;
  }

  &-search {
    margin-left: 24px;
  }
}