.companyList {
  &-title {
    font-size: 1.25rem;
    font-weight: 600;
  }

  &-button {
    display: flex;
    align-items: center;
    gap: var(--offset-main);
    background-color: var(--button-color);
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-main);
    border-radius: 50%;
  }

  &-search {
    margin-left: 24px;
  }


  &-companies {
    margin-top: var(--offset-main);
    display: grid;
    grid-template-columns: repeat( 8, 1fr);
    grid-gap: 4px 0;
  }

  &-header {
    padding: 20px 18px;
    color: var(--text-disable);
    background-color: var(--bg-v1);

    &:first-child {
      border-radius: var(--br-v2) 0 0 var(--br-v2);
    }

    &:last-child {
      border-radius: 0 var(--br-v2) var(--br-v2) 0;
    }
  }

  &-item{
    padding: var(--offset-main);
    border: 1px solid var(--border-color);
    border-left: none;
    border-right: none;

    &-first{
      border-radius: var(--br-v2) 0 0 var(--br-v2);
      border-left: 1px solid var(--border-color);
    }

    &-last{
      border-radius: 0 var(--br-v2) var(--br-v2) 0;
      border-right: 1px solid var(--border-color);
    }
  }

}