.datepicker-custom{
  height: 40px;
  padding: 0 16px;
  line-height: 1;
  color: var(--text-main);
  background-color: var(--bg-main);
  border: 1px solid var(--bg-v2);
  border-radius: var(--br-main);
}