.checkin{

  &-container{
    padding: var(--offset-3);
    background-color: var(--bg-v7);
    border-radius: var(--br-v2);
  }

  &-block{
    margin-top: var(--offset-main);
  }

  &-options{
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    gap: 8px;
  }

  &-option{
    display: flex;
    flex-direction: column;
  }

  &-title{
    font-weight: 600;
  }

  &-input{
    //max-width: 248px;
  }

  &-select{
    max-width: 248px;
  }
}