.board {
  --border: 1px solid black;
  --rad: 8px;
  --gap: 4px;

  margin: 8px;
  display: grid;
  grid-gap: var(--gap) var(--gap);
  grid-template-areas:
        "filter header"
        "filter date";
  grid-template-columns: 190px 1fr;
  grid-template-rows: 56px 56px 1fr;
  overflow-y: hidden;
  overflow-x: scroll;

  .cell {
    flex: none;
    width: 56px;
    height: 56px;
    border: var(--border);
    border-radius: var(--rad);

    &-room {
      height: 46px;
    }
  }

  .cell.reserved {
    background-color: var(--bg-v1);
  }

  .cell-category {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }

  .filter {
    padding: 8px;
    grid-area: filter;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: var(--gap) var(--gap);
    background-color: var(--bg-v1);
    border-radius: var(--br-main);

    .buttons-group {
      .button {
        flex: 1;
      }
    }

    .info {
      height: 100%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: stretch;
      gap: 4px;

      .button {
        background-color: var(--bg-main);
      }
    }

    &-month,
    &-day {
      padding-left: 4px;
      padding-right: 4px;
      flex: 1 1 auto;
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: scroll;
    }
  }

  .header {
    padding: 13px var(--offset-main);
    grid-area: header;
    vertical-align: middle;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: var(--bg-main);
  }

  .date {
    grid-area: date;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 56px;
    grid-auto-columns: 56px;
    column-gap: var(--gap);
    overflow: hidden;

    .day,
    .month {
      position: relative;
      padding: 13px var(--offset-main);

      span {
        position: sticky;
        left: 10px;
        font-size: 1.125rem;
        font-weight: 600;
      }
    }
  }

  .category {
    height: 56px;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0 var(--offset-2);
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .room {
    height: 46px;
    padding: 0 var(--offset-2);
  }

  .reservations {
    position: relative;
    overflow: hidden;
  }

  .cells,.orders {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 56px;
    column-gap: var(--gap);
  }

  .orders {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    z-index: 2;

    .order {
      position: relative;

      &-inner {
        position: absolute;
        left: 50%;
        top: 50%;
        width: calc(100% - var(--gap) * 2);
        height: calc(100% - var(--gap) * 2);
        background-color: var(--bg-v3);
        border-radius: var(--rad);
        transform: translate(-50%, -50%);


      }
    }
  }
}

.boarder {
  border: var(--border);
  border-radius: var(--rad);
}