.board {
  --border: 1px solid black;
  --rad: 8px;
  --gap: 4px;

  margin: 8px;
  display: grid;
  grid-gap: var(--gap) var(--gap);
  grid-template-areas:
        "filter header"
        "filter date"
        "content content";
  grid-template-columns: 190px 1fr;
  grid-template-rows: 56px 56px 1fr;

  .cell {
    flex: none;
    width: 56px;
    height: 56px;
    border: var(--border);
    border-radius: var(--rad);

    &-room{
      height: 46px;
    }
  }

  .cell-category{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }

  .filter {
    padding: 8px;
    grid-area: filter;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: var(--gap) var(--gap);
    background-color: var(--bg-v1);
    border-radius: var(--br-main);

    .buttons-group{
      .button{
        flex: 1;
      }
    }

    .info{
      height: 100%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: stretch;
      gap: 4px;
       .button{
         background-color: var(--bg-main);
       }
    }

    &-month,
    &-day{
      padding-left: 4px;
      padding-right: 4px;
      flex: 1 1 auto;
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .header {
    padding: 13px var(--offset-main);
    grid-area: header;
    vertical-align: middle;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: var(--bg-main);
  }

  .date {
    grid-area: date;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 56px;
    grid-auto-columns: 56px;
    column-gap: var(--gap);
    overflow: hidden;

    .day,
    .month {
      position: relative;
      padding: 13px var(--offset-main);

      span{
        position: sticky;
        left: 10px;
        font-weight: 1.125rem;
        font-weight: 600;
      }
    }
  }

  .content {
    grid-area: content;
    display: grid;
    grid-template-columns: 190px 1fr;
    grid-gap: var(--gap) var(--gap);
  }

  .category {
    height: 56px;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0 var(--offset-2);
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .room{
    height: 46px;
    padding: 0 var(--offset-2);
  }

  .cells {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 56px;
    column-gap: var(--gap);
    overflow: hidden;
  }
}

.boarder {
  border: var(--border);
  border-radius: var(--rad);
}